@use '../Globals/index' as global;


body {
	background-color: var(--color-bg-100);
	color: var(--color-txt-100);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-txt-100);
}

p {
	color: var(--color-txt-100);
}

a {
	color: var(--color-acc-300);
}

a:hover {
	color: var(--color-acc-200);
}

a:active {
	color: var(--color-acc-400);
}

a:visited {
	color: var(--color-acc-500);
}

