@use '../Globals/Settings' as s;

.inline-space-xxl {

  padding-bottom: s.$space-xxl;
  
}

.inline-space-xl {
  
  padding-bottom: s.$space-xl;
 
}

.inline-space-lrg {
  padding-bottom: s.$space-lg;
}

.inline-space-md {
  
  padding-bottom: s.$space-md;
  
}

.inline-space-sm {
  
  padding-bottom: s.$space-sm;
 
}

.inline-space-tiny {
  
  padding-bottom: s.$space-tiny;
  
}

