/* MAVERICK CSS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.dark {
  --color-primary: #33d5da;
  --color-secondary: #ff00c8;
  --color-background: #2b2b2b;
  --color-text: #FFFFFF;
}

.light {
  --color-primary: #9d229d;
  --color-secondary: #007878;
  --color-background: #dfdfdf;
  --color-text: #212121;
}

.custom {
  --color-primary: #9f3a9f;
  --color-secondary: #00FFFF;
  --color-background: #FFFF00;
  --color-text: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow", sans-serif;
  line-height: 1;
}

.text-body {
  font-size: 1rem;
}

.text-tiny {
  font-size: 0.8rem;
}

.text-large {
  font-size: 1.25rem;
}

.text-h6 {
  font-size: 1.25rem;
}

.text-h5 {
  font-size: 1.5625rem;
}

.text-h4 {
  font-size: 1.953125rem;
}

.text-h3 {
  font-size: 2.44140625rem;
}

.text-h2 {
  font-size: 3.0517578125rem;
}

.text-h1 {
  font-size: 3.8146972656rem;
}

.text-massive {
  font-size: 4.768371582rem;
}

h6 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.5625rem;
}

h4 {
  font-size: 1.953125rem;
}

h3 {
  font-size: 2.44140625rem;
}

h2 {
  font-size: 3.0517578125rem;
}

h1 {
  font-size: 3.8146972656rem;
}

:root {
  --size-100: nth($space, $i);
}

:root {
  --size-200: nth($space, $i);
}

:root {
  --size-300: nth($space, $i);
}

:root {
  --size-400: nth($space, $i);
}

:root {
  --size-500: nth($space, $i);
}

:root {
  --size-600: nth($space, $i);
}

:root {
  --size-700: nth($space, $i);
}

:root {
  --size-800: nth($space, $i);
}

:root {
  --size-900: nth($space, $i);
}

.margin-100 {
  margin-top: 1.25rem;
}

.margin-100-top {
  margin-top: 1.25rem;
}

.margin-100-bottom {
  margin-bottom: 1.25rem;
}

.margin-100-left {
  margin-left: 1.25rem;
}

.margin-100-right {
  margin-right: 1.25rem;
}

.margin-200 {
  margin-top: 1.5625rem;
}

.margin-200-top {
  margin-top: 1.5625rem;
}

.margin-200-bottom {
  margin-bottom: 1.5625rem;
}

.margin-200-left {
  margin-left: 1.5625rem;
}

.margin-200-right {
  margin-right: 1.5625rem;
}

.margin-300 {
  margin-top: 1.953125rem;
}

.margin-300-top {
  margin-top: 1.953125rem;
}

.margin-300-bottom {
  margin-bottom: 1.953125rem;
}

.margin-300-left {
  margin-left: 1.953125rem;
}

.margin-300-right {
  margin-right: 1.953125rem;
}

.margin-400 {
  margin-top: 2.44140625rem;
}

.margin-400-top {
  margin-top: 2.44140625rem;
}

.margin-400-bottom {
  margin-bottom: 2.44140625rem;
}

.margin-400-left {
  margin-left: 2.44140625rem;
}

.margin-400-right {
  margin-right: 2.44140625rem;
}

.margin-500 {
  margin-top: 3.0517578125rem;
}

.margin-500-top {
  margin-top: 3.0517578125rem;
}

.margin-500-bottom {
  margin-bottom: 3.0517578125rem;
}

.margin-500-left {
  margin-left: 3.0517578125rem;
}

.margin-500-right {
  margin-right: 3.0517578125rem;
}

.margin-600 {
  margin-top: 3.8146972656rem;
}

.margin-600-top {
  margin-top: 3.8146972656rem;
}

.margin-600-bottom {
  margin-bottom: 3.8146972656rem;
}

.margin-600-left {
  margin-left: 3.8146972656rem;
}

.margin-600-right {
  margin-right: 3.8146972656rem;
}

.margin-700 {
  margin-top: 4.768371582rem;
}

.margin-700-top {
  margin-top: 4.768371582rem;
}

.margin-700-bottom {
  margin-bottom: 4.768371582rem;
}

.margin-700-left {
  margin-left: 4.768371582rem;
}

.margin-700-right {
  margin-right: 4.768371582rem;
}

.margin-800 {
  margin-top: 5.9604644775rem;
}

.margin-800-top {
  margin-top: 5.9604644775rem;
}

.margin-800-bottom {
  margin-bottom: 5.9604644775rem;
}

.margin-800-left {
  margin-left: 5.9604644775rem;
}

.margin-800-right {
  margin-right: 5.9604644775rem;
}

.margin-900 {
  margin-top: 7.4505805969rem;
}

.margin-900-top {
  margin-top: 7.4505805969rem;
}

.margin-900-bottom {
  margin-bottom: 7.4505805969rem;
}

.margin-900-left {
  margin-left: 7.4505805969rem;
}

.margin-900-right {
  margin-right: 7.4505805969rem;
}

.padding-100 {
  padding-top: 1.25rem;
}

.padding-100-top {
  padding-top: 1.25rem;
}

.padding-100-bottom {
  padding-bottom: 1.25rem;
}

.padding-100-left {
  padding-left: 1.25rem;
}

.padding-100-right {
  padding-right: 1.25rem;
}

.padding-200 {
  padding-top: 1.5625rem;
}

.padding-200-top {
  padding-top: 1.5625rem;
}

.padding-200-bottom {
  padding-bottom: 1.5625rem;
}

.padding-200-left {
  padding-left: 1.5625rem;
}

.padding-200-right {
  padding-right: 1.5625rem;
}

.padding-300 {
  padding-top: 1.953125rem;
}

.padding-300-top {
  padding-top: 1.953125rem;
}

.padding-300-bottom {
  padding-bottom: 1.953125rem;
}

.padding-300-left {
  padding-left: 1.953125rem;
}

.padding-300-right {
  padding-right: 1.953125rem;
}

.padding-400 {
  padding-top: 2.44140625rem;
}

.padding-400-top {
  padding-top: 2.44140625rem;
}

.padding-400-bottom {
  padding-bottom: 2.44140625rem;
}

.padding-400-left {
  padding-left: 2.44140625rem;
}

.padding-400-right {
  padding-right: 2.44140625rem;
}

.padding-500 {
  padding-top: 3.0517578125rem;
}

.padding-500-top {
  padding-top: 3.0517578125rem;
}

.padding-500-bottom {
  padding-bottom: 3.0517578125rem;
}

.padding-500-left {
  padding-left: 3.0517578125rem;
}

.padding-500-right {
  padding-right: 3.0517578125rem;
}

.padding-600 {
  padding-top: 3.8146972656rem;
}

.padding-600-top {
  padding-top: 3.8146972656rem;
}

.padding-600-bottom {
  padding-bottom: 3.8146972656rem;
}

.padding-600-left {
  padding-left: 3.8146972656rem;
}

.padding-600-right {
  padding-right: 3.8146972656rem;
}

.padding-700 {
  padding-top: 4.768371582rem;
}

.padding-700-top {
  padding-top: 4.768371582rem;
}

.padding-700-bottom {
  padding-bottom: 4.768371582rem;
}

.padding-700-left {
  padding-left: 4.768371582rem;
}

.padding-700-right {
  padding-right: 4.768371582rem;
}

.padding-800 {
  padding-top: 5.9604644775rem;
}

.padding-800-top {
  padding-top: 5.9604644775rem;
}

.padding-800-bottom {
  padding-bottom: 5.9604644775rem;
}

.padding-800-left {
  padding-left: 5.9604644775rem;
}

.padding-800-right {
  padding-right: 5.9604644775rem;
}

.padding-900 {
  padding-top: 7.4505805969rem;
}

.padding-900-top {
  padding-top: 7.4505805969rem;
}

.padding-900-bottom {
  padding-bottom: 7.4505805969rem;
}

.padding-900-left {
  padding-left: 7.4505805969rem;
}

.padding-900-right {
  padding-right: 7.4505805969rem;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.grid-auto {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.grid-flex > * {
  flex: 1 1 20rem;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}
@media (max-width: 320px) {
  .grid-responsive {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
