/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* ROOT */
/* DEFAULT TEXT STYLES */
:root {
  font-size: 16px;
  box-sizing: border-box;
}

/* Typography Engine */
p,
a,
li,
span,
div {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-indent: 0;
}

h5 {
  font-size: 21.328px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

h4 {
  font-size: 28.430224px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

h3 {
  font-size: 37.897488592px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

h2 {
  font-size: 50.5173522931px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

h1 {
  font-size: 67.3396306068px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

.h5 {
  font-size: 21.328px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

.h4 {
  font-size: 28.430224px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

.h3 {
  font-size: 37.897488592px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

.h2 {
  font-size: 50.5173522931px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

.h1 {
  font-size: 67.3396306068px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

.padding__top-xxxsmall {
  padding-top: 0.0625rem;
}

.margin__top-xxxsmall {
  margin-top: 0.0625rem;
}

.padding__right-xxxsmall {
  padding-right: 0.0625rem;
}

.margin__right-xxxsmall {
  margin-right: 0.0625rem;
}

.padding__bottom-xxxsmall {
  padding-bottom: 0.0625rem;
}

.margin__bottom-xxxsmall {
  margin-bottom: 0.0625rem;
}

.padding__left-xxxsmall {
  padding-left: 0.0625rem;
}

.margin__left-xxxsmall {
  margin-left: 0.0625rem;
}

.padding__all-xxxsmall {
  padding: 0.0625rem;
}

.margin__all-xxxsmall {
  margin: 0.0625rem;
}

.padding__top-xxsmall {
  padding-top: 0.125rem;
}

.margin__top-xxsmall {
  margin-top: 0.125rem;
}

.padding__right-xxsmall {
  padding-right: 0.125rem;
}

.margin__right-xxsmall {
  margin-right: 0.125rem;
}

.padding__bottom-xxsmall {
  padding-bottom: 0.125rem;
}

.margin__bottom-xxsmall {
  margin-bottom: 0.125rem;
}

.padding__left-xxsmall {
  padding-left: 0.125rem;
}

.margin__left-xxsmall {
  margin-left: 0.125rem;
}

.padding__all-xxsmall {
  padding: 0.125rem;
}

.margin__all-xxsmall {
  margin: 0.125rem;
}

.padding__top-xsmall {
  padding-top: 0.25rem;
}

.margin__top-xsmall {
  margin-top: 0.25rem;
}

.padding__right-xsmall {
  padding-right: 0.25rem;
}

.margin__right-xsmall {
  margin-right: 0.25rem;
}

.padding__bottom-xsmall {
  padding-bottom: 0.25rem;
}

.margin__bottom-xsmall {
  margin-bottom: 0.25rem;
}

.padding__left-xsmall {
  padding-left: 0.25rem;
}

.margin__left-xsmall {
  margin-left: 0.25rem;
}

.padding__all-xsmall {
  padding: 0.25rem;
}

.margin__all-xsmall {
  margin: 0.25rem;
}

.padding__top-small {
  padding-top: 1rem;
}

.margin__top-small {
  margin-top: 1rem;
}

.padding__right-small {
  padding-right: 1rem;
}

.margin__right-small {
  margin-right: 1rem;
}

.padding__bottom-small {
  padding-bottom: 1rem;
}

.margin__bottom-small {
  margin-bottom: 1rem;
}

.padding__left-small {
  padding-left: 1rem;
}

.margin__left-small {
  margin-left: 1rem;
}

.padding__all-small {
  padding: 1rem;
}

.margin__all-small {
  margin: 1rem;
}

.padding__top-medium {
  padding-top: 2rem;
}

.margin__top-medium {
  margin-top: 2rem;
}

.padding__right-medium {
  padding-right: 2rem;
}

.margin__right-medium {
  margin-right: 2rem;
}

.padding__bottom-medium {
  padding-bottom: 2rem;
}

.margin__bottom-medium {
  margin-bottom: 2rem;
}

.padding__left-medium {
  padding-left: 2rem;
}

.margin__left-medium {
  margin-left: 2rem;
}

.padding__all-medium {
  padding: 2rem;
}

.margin__all-medium {
  margin: 2rem;
}

.padding__top-large {
  padding-top: 4rem;
}

.margin__top-large {
  margin-top: 4rem;
}

.padding__right-large {
  padding-right: 4rem;
}

.margin__right-large {
  margin-right: 4rem;
}

.padding__bottom-large {
  padding-bottom: 4rem;
}

.margin__bottom-large {
  margin-bottom: 4rem;
}

.padding__left-large {
  padding-left: 4rem;
}

.margin__left-large {
  margin-left: 4rem;
}

.padding__all-large {
  padding: 4rem;
}

.margin__all-large {
  margin: 4rem;
}

.padding__top-xlarge {
  padding-top: 8rem;
}

.margin__top-xlarge {
  margin-top: 8rem;
}

.padding__right-xlarge {
  padding-right: 8rem;
}

.margin__right-xlarge {
  margin-right: 8rem;
}

.padding__bottom-xlarge {
  padding-bottom: 8rem;
}

.margin__bottom-xlarge {
  margin-bottom: 8rem;
}

.padding__left-xlarge {
  padding-left: 8rem;
}

.margin__left-xlarge {
  margin-left: 8rem;
}

.padding__all-xlarge {
  padding: 8rem;
}

.margin__all-xlarge {
  margin: 8rem;
}

.padding__top-xxlarge {
  padding-top: 16rem;
}

.margin__top-xxlarge {
  margin-top: 16rem;
}

.padding__right-xxlarge {
  padding-right: 16rem;
}

.margin__right-xxlarge {
  margin-right: 16rem;
}

.padding__bottom-xxlarge {
  padding-bottom: 16rem;
}

.margin__bottom-xxlarge {
  margin-bottom: 16rem;
}

.padding__left-xxlarge {
  padding-left: 16rem;
}

.margin__left-xxlarge {
  margin-left: 16rem;
}

.padding__all-xxlarge {
  padding: 16rem;
}

.margin__all-xxlarge {
  margin: 16rem;
}

.padding__top-xxxlarge {
  padding-top: 32rem;
}

.margin__top-xxxlarge {
  margin-top: 32rem;
}

.padding__right-xxxlarge {
  padding-right: 32rem;
}

.margin__right-xxxlarge {
  margin-right: 32rem;
}

.padding__bottom-xxxlarge {
  padding-bottom: 32rem;
}

.margin__bottom-xxxlarge {
  margin-bottom: 32rem;
}

.padding__left-xxxlarge {
  padding-left: 32rem;
}

.margin__left-xxxlarge {
  margin-left: 32rem;
}

.padding__all-xxxlarge {
  padding: 32rem;
}

.margin__all-xxxlarge {
  margin: 32rem;
}

.padding__top-xxxxlarge {
  padding-top: 64rem;
}

.margin__top-xxxxlarge {
  margin-top: 64rem;
}

.padding__right-xxxxlarge {
  padding-right: 64rem;
}

.margin__right-xxxxlarge {
  margin-right: 64rem;
}

.padding__bottom-xxxxlarge {
  padding-bottom: 64rem;
}

.margin__bottom-xxxxlarge {
  margin-bottom: 64rem;
}

.padding__left-xxxxlarge {
  padding-left: 64rem;
}

.margin__left-xxxxlarge {
  margin-left: 64rem;
}

.padding__all-xxxxlarge {
  padding: 64rem;
}

.margin__all-xxxxlarge {
  margin: 64rem;
}

.padding__top-xxxxxlarge {
  padding-top: 128rem;
}

.margin__top-xxxxxlarge {
  margin-top: 128rem;
}

.padding__right-xxxxxlarge {
  padding-right: 128rem;
}

.margin__right-xxxxxlarge {
  margin-right: 128rem;
}

.padding__bottom-xxxxxlarge {
  padding-bottom: 128rem;
}

.margin__bottom-xxxxxlarge {
  margin-bottom: 128rem;
}

.padding__left-xxxxxlarge {
  padding-left: 128rem;
}

.margin__left-xxxxxlarge {
  margin-left: 128rem;
}

.padding__all-xxxxxlarge {
  padding: 128rem;
}

.margin__all-xxxxxlarge {
  margin: 128rem;
}

.spacer__inline-xxxsmall {
  display: inline-block;
  width: 100%;
  height: 0.0625rem;
}

.spacer__inline-xxsmall {
  display: inline-block;
  width: 100%;
  height: 0.125rem;
}

.spacer__inline-xsmall {
  display: inline-block;
  width: 100%;
  height: 0.25rem;
}

.spacer__inline-small {
  display: inline-block;
  width: 100%;
  height: 1rem;
}

.spacer__inline-medium {
  display: inline-block;
  width: 100%;
  height: 2rem;
}

.spacer__inline-large {
  display: inline-block;
  width: 100%;
  height: 4rem;
}

.spacer__inline-xlarge {
  display: inline-block;
  width: 100%;
  height: 8rem;
}

.spacer__inline-xxlarge {
  display: inline-block;
  width: 100%;
  height: 16rem;
}

.spacer__inline-xxxlarge {
  display: inline-block;
  width: 100%;
  height: 32rem;
}

.spacer__inline-xxxxlarge {
  display: inline-block;
  width: 100%;
  height: 64rem;
}

.spacer__inline-xxxxxlarge {
  display: inline-block;
  width: 100%;
  height: 128rem;
}

.size__width-xxxsmall {
  width: 0.0625rem;
}

.size__height-xxxsmall {
  height: 0.0625rem;
}

.size__max-width-xxxsmall {
  max-width: 0.0625rem;
}

.size__max-height-xxxsmall {
  max-height: 0.0625rem;
}

.size__min-width-xxxsmall {
  min-width: 0.0625rem;
}

.size__min-height-xxxsmall {
  min-height: 0.0625rem;
}

.size__gap-xxxsmall {
  gap: 0.0625rem;
}

.size__grid-gap-xxxsmall {
  grid-gap: 0.0625rem;
}

.size__column-gap-xxxsmall {
  column-gap: 0.0625rem;
}

.size__row-gap-xxxsmall {
  row-gap: 0.0625rem;
}

.size__border-radius-xxxsmall {
  border-radius: 0.0625rem;
}

.size__width-xxsmall {
  width: 0.125rem;
}

.size__height-xxsmall {
  height: 0.125rem;
}

.size__max-width-xxsmall {
  max-width: 0.125rem;
}

.size__max-height-xxsmall {
  max-height: 0.125rem;
}

.size__min-width-xxsmall {
  min-width: 0.125rem;
}

.size__min-height-xxsmall {
  min-height: 0.125rem;
}

.size__gap-xxsmall {
  gap: 0.125rem;
}

.size__grid-gap-xxsmall {
  grid-gap: 0.125rem;
}

.size__column-gap-xxsmall {
  column-gap: 0.125rem;
}

.size__row-gap-xxsmall {
  row-gap: 0.125rem;
}

.size__border-radius-xxsmall {
  border-radius: 0.125rem;
}

.size__width-xsmall {
  width: 0.25rem;
}

.size__height-xsmall {
  height: 0.25rem;
}

.size__max-width-xsmall {
  max-width: 0.25rem;
}

.size__max-height-xsmall {
  max-height: 0.25rem;
}

.size__min-width-xsmall {
  min-width: 0.25rem;
}

.size__min-height-xsmall {
  min-height: 0.25rem;
}

.size__gap-xsmall {
  gap: 0.25rem;
}

.size__grid-gap-xsmall {
  grid-gap: 0.25rem;
}

.size__column-gap-xsmall {
  column-gap: 0.25rem;
}

.size__row-gap-xsmall {
  row-gap: 0.25rem;
}

.size__border-radius-xsmall {
  border-radius: 0.25rem;
}

.size__width-small {
  width: 1rem;
}

.size__height-small {
  height: 1rem;
}

.size__max-width-small {
  max-width: 1rem;
}

.size__max-height-small {
  max-height: 1rem;
}

.size__min-width-small {
  min-width: 1rem;
}

.size__min-height-small {
  min-height: 1rem;
}

.size__gap-small {
  gap: 1rem;
}

.size__grid-gap-small {
  grid-gap: 1rem;
}

.size__column-gap-small {
  column-gap: 1rem;
}

.size__row-gap-small {
  row-gap: 1rem;
}

.size__border-radius-small {
  border-radius: 1rem;
}

.size__width-medium {
  width: 2rem;
}

.size__height-medium {
  height: 2rem;
}

.size__max-width-medium {
  max-width: 2rem;
}

.size__max-height-medium {
  max-height: 2rem;
}

.size__min-width-medium {
  min-width: 2rem;
}

.size__min-height-medium {
  min-height: 2rem;
}

.size__gap-medium {
  gap: 2rem;
}

.size__grid-gap-medium {
  grid-gap: 2rem;
}

.size__column-gap-medium {
  column-gap: 2rem;
}

.size__row-gap-medium {
  row-gap: 2rem;
}

.size__border-radius-medium {
  border-radius: 2rem;
}

.size__width-large {
  width: 4rem;
}

.size__height-large {
  height: 4rem;
}

.size__max-width-large {
  max-width: 4rem;
}

.size__max-height-large {
  max-height: 4rem;
}

.size__min-width-large {
  min-width: 4rem;
}

.size__min-height-large {
  min-height: 4rem;
}

.size__gap-large {
  gap: 4rem;
}

.size__grid-gap-large {
  grid-gap: 4rem;
}

.size__column-gap-large {
  column-gap: 4rem;
}

.size__row-gap-large {
  row-gap: 4rem;
}

.size__border-radius-large {
  border-radius: 4rem;
}

.size__width-xlarge {
  width: 8rem;
}

.size__height-xlarge {
  height: 8rem;
}

.size__max-width-xlarge {
  max-width: 8rem;
}

.size__max-height-xlarge {
  max-height: 8rem;
}

.size__min-width-xlarge {
  min-width: 8rem;
}

.size__min-height-xlarge {
  min-height: 8rem;
}

.size__gap-xlarge {
  gap: 8rem;
}

.size__grid-gap-xlarge {
  grid-gap: 8rem;
}

.size__column-gap-xlarge {
  column-gap: 8rem;
}

.size__row-gap-xlarge {
  row-gap: 8rem;
}

.size__border-radius-xlarge {
  border-radius: 8rem;
}

.size__width-xxlarge {
  width: 16rem;
}

.size__height-xxlarge {
  height: 16rem;
}

.size__max-width-xxlarge {
  max-width: 16rem;
}

.size__max-height-xxlarge {
  max-height: 16rem;
}

.size__min-width-xxlarge {
  min-width: 16rem;
}

.size__min-height-xxlarge {
  min-height: 16rem;
}

.size__gap-xxlarge {
  gap: 16rem;
}

.size__grid-gap-xxlarge {
  grid-gap: 16rem;
}

.size__column-gap-xxlarge {
  column-gap: 16rem;
}

.size__row-gap-xxlarge {
  row-gap: 16rem;
}

.size__border-radius-xxlarge {
  border-radius: 16rem;
}

.size__width-xxxlarge {
  width: 32rem;
}

.size__height-xxxlarge {
  height: 32rem;
}

.size__max-width-xxxlarge {
  max-width: 32rem;
}

.size__max-height-xxxlarge {
  max-height: 32rem;
}

.size__min-width-xxxlarge {
  min-width: 32rem;
}

.size__min-height-xxxlarge {
  min-height: 32rem;
}

.size__gap-xxxlarge {
  gap: 32rem;
}

.size__grid-gap-xxxlarge {
  grid-gap: 32rem;
}

.size__column-gap-xxxlarge {
  column-gap: 32rem;
}

.size__row-gap-xxxlarge {
  row-gap: 32rem;
}

.size__border-radius-xxxlarge {
  border-radius: 32rem;
}

.size__width-xxxxlarge {
  width: 64rem;
}

.size__height-xxxxlarge {
  height: 64rem;
}

.size__max-width-xxxxlarge {
  max-width: 64rem;
}

.size__max-height-xxxxlarge {
  max-height: 64rem;
}

.size__min-width-xxxxlarge {
  min-width: 64rem;
}

.size__min-height-xxxxlarge {
  min-height: 64rem;
}

.size__gap-xxxxlarge {
  gap: 64rem;
}

.size__grid-gap-xxxxlarge {
  grid-gap: 64rem;
}

.size__column-gap-xxxxlarge {
  column-gap: 64rem;
}

.size__row-gap-xxxxlarge {
  row-gap: 64rem;
}

.size__border-radius-xxxxlarge {
  border-radius: 64rem;
}

.size__width-xxxxxlarge {
  width: 128rem;
}

.size__height-xxxxxlarge {
  height: 128rem;
}

.size__max-width-xxxxxlarge {
  max-width: 128rem;
}

.size__max-height-xxxxxlarge {
  max-height: 128rem;
}

.size__min-width-xxxxxlarge {
  min-width: 128rem;
}

.size__min-height-xxxxxlarge {
  min-height: 128rem;
}

.size__gap-xxxxxlarge {
  gap: 128rem;
}

.size__grid-gap-xxxxxlarge {
  grid-gap: 128rem;
}

.size__column-gap-xxxxxlarge {
  column-gap: 128rem;
}

.size__row-gap-xxxxxlarge {
  row-gap: 128rem;
}

.size__border-radius-xxxxxlarge {
  border-radius: 128rem;
}

.border-width-none {
  border-width: 0;
}

.border__radius-none {
  border-radius: 0;
}

.border-width-xxsmall {
  border-width: 0.125px;
}

.border__radius-xxsmall {
  border-radius: 0.125px;
}

.border-width-xsmall {
  border-width: 0.25px;
}

.border__radius-xsmall {
  border-radius: 0.25px;
}

.border-width-small {
  border-width: 1px;
}

.border__radius-small {
  border-radius: 1px;
}

.border-width-medium {
  border-width: 2px;
}

.border__radius-medium {
  border-radius: 2px;
}

.border-width-large {
  border-width: 4px;
}

.border__radius-large {
  border-radius: 4px;
}

.border-width-xlarge {
  border-width: 8px;
}

.border__radius-xlarge {
  border-radius: 8px;
}

.border-width-xxlarge {
  border-width: 16px;
}

.border__radius-xxlarge {
  border-radius: 16px;
}

.border-width-xxxlarge {
  border-width: 32px;
}

.border__radius-xxxlarge {
  border-radius: 32px;
}

.border-width-xxxxlarge {
  border-width: 64px;
}

.border__radius-xxxxlarge {
  border-radius: 64px;
}

.border-width-xxxxxlarge {
  border-width: 128px;
}

.border__radius-xxxxxlarge {
  border-radius: 128px;
}

.border__style-none {
  border-style: none;
}

.border__style-solid {
  border-style: solid;
}

.border__style-dashed {
  border-style: dashed;
}

.border__style-dotted {
  border-style: dotted;
}

.border__style-double {
  border-style: double;
}

.border__style-groove {
  border-style: groove;
}

.border__style-ridge {
  border-style: ridge;
}

.border__style-inset {
  border-style: inset;
}

.border__style-outset {
  border-style: outset;
}

/* STATIC CLASSES */
.aspect__square {
  aspect-ratio: 1;
}

.aspect__portrait {
  aspect-ratio: 0.75;
}

.aspect__landscape {
  aspect-ratio: 1.3333333333;
}

.aspect__widescreen {
  aspect-ratio: 1.7777777778;
}

.aspect__vertical {
  aspect-ratio: 0.5625;
}

.aspect__ultrawide {
  aspect-ratio: 2.3333333333;
}

.col__1 {
  columns: 1;
}

.col__2 {
  columns: 2;
}

.col__3 {
  columns: 3;
}

.col__4 {
  columns: 4;
}

.col__5 {
  columns: 5;
}

.break__inside-auto {
  break-inside: auto;
}

.break__outside-auto {
  break-outside: auto;
}

.break__inside-avoid {
  break-inside: avoid;
}

.break__outside-avoid {
  break-outside: avoid;
}

.break__inside-all {
  break-inside: all;
}

.break__outside-all {
  break-outside: all;
}

.break__inside-avoid-page {
  break-inside: avoid-page;
}

.break__outside-avoid-page {
  break-outside: avoid-page;
}

.break__inside-page {
  break-inside: page;
}

.break__outside-page {
  break-outside: page;
}

.break__inside-left {
  break-inside: left;
}

.break__outside-left {
  break-outside: left;
}

.break__inside-right {
  break-inside: right;
}

.break__outside-right {
  break-outside: right;
}

.break__inside-recto {
  break-inside: recto;
}

.break__outside-recto {
  break-outside: recto;
}

.break__inside-verso {
  break-inside: verso;
}

.break__outside-verso {
  break-outside: verso;
}

.break__inside-auto {
  break-inside: auto;
}

.break__inside-avoid {
  break-inside: avoid;
}

.break__inside-avoid-page {
  break-inside: avoid-page;
}

.break__inside-avoid-column {
  break-inside: avoid-column;
}

.break__box-decoration-slice {
  box-decoration-break: slice;
}

.break__box-decoration-clone {
  box-decoration-break: clone;
}

.box__border-box {
  box-sizing: border-box;
}

.box__content-box {
  box-sizing: content-box;
}

.display__block {
  display: block;
}

.display__inline {
  display: inline;
}

.display__inline-block {
  display: inline-block;
}

.display__flex {
  display: flex;
}

.display__grid {
  display: grid;
}

.display__inline-flex {
  display: inline-flex;
}

.display__inline-grid {
  display: inline-grid;
}

.display__none {
  display: none;
}

.display__table {
  display: table;
}

.display__table-row {
  display: table-row;
}

.display__table-cell {
  display: table-cell;
}

.display__table-column {
  display: table-column;
}

.display__table-column-group {
  display: table-column-group;
}

.display__table-footer-group {
  display: table-footer-group;
}

.display__table-header-group {
  display: table-header-group;
}

.display__table-row-group {
  display: table-row-group;
}

.display__flow-root {
  display: flow-root;
}

.display__contents {
  display: contents;
}

.display__list-item {
  display: list-item;
}

.display__ruby {
  display: ruby;
}

.display__ruby-base {
  display: ruby-base;
}

.display__ruby-text {
  display: ruby-text;
}

.display__run-in {
  display: run-in;
}

.display__subgrid {
  display: subgrid;
}

.float__inline-start {
  float: inline-start;
}

.float__inline-end {
  float: inline-end;
}

.float__left {
  float: left;
}

.float__right {
  float: right;
}

.float__none {
  float: none;
}

.clear__inline-start {
  clear: inline-start;
}

.clear__inline-end {
  clear: inline-end;
}

.clear__left {
  clear: left;
}

.clear__right {
  clear: right;
}

.clear__both {
  clear: both;
}

.clear__none {
  clear: none;
}

.isolation__auto {
  isolation: auto;
}

.isolation__isolate {
  isolation: isolate;
}

.fit__fill {
  object-fit: fill;
}

.fit__contain {
  object-fit: contain;
}

.fit__cover {
  object-fit: cover;
}

.fit__none {
  object-fit: none;
}

.fit__scale-down {
  object-fit: scale-down;
}

.position__top {
  object-position: top;
}

.position__bottom {
  object-position: bottom;
}

.position__left {
  object-position: left;
}

.position__right {
  object-position: right;
}

.position__center {
  object-position: center;
}

.position__top left {
  object-position: top left;
}

.position__top right {
  object-position: top right;
}

.position__bottom left {
  object-position: bottom left;
}

.position__bottom right {
  object-position: bottom right;
}

.overflow__visible {
  overflow: visible;
}

.overflow__x-visible {
  overflow-x: visible;
}

.overflow__y-visible {
  overflow-y: visible;
}

.overflow__hidden {
  overflow: hidden;
}

.overflow__x-hidden {
  overflow-x: hidden;
}

.overflow__y-hidden {
  overflow-y: hidden;
}

.overflow__scroll {
  overflow: scroll;
}

.overflow__x-scroll {
  overflow-x: scroll;
}

.overflow__y-scroll {
  overflow-y: scroll;
}

.overflow__auto {
  overflow: auto;
}

.overflow__x-auto {
  overflow-x: auto;
}

.overflow__y-auto {
  overflow-y: auto;
}

.overscroll__auto {
  overscroll-behavior: auto;
}

.overscroll__x-auto {
  overscroll-behavior-x: auto;
}

.overscroll__y-auto {
  overscroll-behavior-y: auto;
}

.overscroll__contain {
  overscroll-behavior: contain;
}

.overscroll__x-contain {
  overscroll-behavior-x: contain;
}

.overscroll__y-contain {
  overscroll-behavior-y: contain;
}

.overscroll__none {
  overscroll-behavior: none;
}

.overscroll__x-none {
  overscroll-behavior-x: none;
}

.overscroll__y-none {
  overscroll-behavior-y: none;
}

.position__static {
  position: static;
}

.position__relative {
  position: relative;
}

.position__absolute {
  position: absolute;
}

.position__fixed {
  position: fixed;
}

.position__sticky {
  position: sticky;
}

.possition__top-auto {
  top: auto;
}

.possition__right-auto {
  right: auto;
}

.possition__bottom-auto {
  bottom: auto;
}

.possition__left-auto {
  left: auto;
}

.possition__top-0 {
  top: 0;
}

.possition__right-0 {
  right: 0;
}

.possition__bottom-0 {
  bottom: 0;
}

.possition__left-0 {
  left: 0;
}

.visibility__visible {
  visibility: visible;
}

.visibility__hidden {
  visibility: hidden;
}

.visibility__collapse {
  visibility: collapse;
}

.index__auto {
  z-index: auto;
}

.index__0 {
  z-index: 0;
}

.index__100 {
  z-index: 100;
}

.index__200 {
  z-index: 200;
}

.index__300 {
  z-index: 300;
}

.index__400 {
  z-index: 400;
}

.index__500 {
  z-index: 500;
}

.index__600 {
  z-index: 600;
}

.index__700 {
  z-index: 700;
}

.index__800 {
  z-index: 800;
}

.index__900 {
  z-index: 900;
}

.index__1000 {
  z-index: 1000;
}

/*# sourceMappingURL=styles.css.map */
