@use './Maverick' as *;

// Color Engine:

@each $theme, $colors in $color-theme {
	.#{$theme} {
	  --color-primary: #{map-get($colors, 'color-primary')};
	  --color-secondary: #{map-get($colors, 'color-secondary')};
	  --color-background: #{map-get($colors, 'color-background')};
	  --color-text: #{map-get($colors, 'color-text')};
	}
  }


body{
	background-color: var(--color-background);
	color: var(--color-text);
}

a{
	color: var(--color-secondary);
	text-decoration: none;
}
a:hover{
	color: var(--color-primary);
}