@use '../Maverick/Maverick' as *;

// Color Engine:

@each $theme, $colors in $color-theme {
	.#{$theme} {
	 --color-primary-lighter: lighten(#{map-get($colors, 'color-primary')}, 10%);
	 --color-primary-darker: darken(#{map-get($colors, 'color-primary')}, 10%);
	  --color-primary: #{map-get($colors, 'color-primary')};
	  --color-secondary-lighter: lighten(#{map-get($colors, 'color-secondary')}, 10%);
	  --color-secondary-darker: darken(#{map-get($colors, 'color-secondary')}, 10%);
	  --color-secondary: #{map-get($colors, 'color-secondary')};
	  --color-background: #{map-get($colors, 'color-background')};
	  --color-background-lighter: lighten(#{map-get($colors, 'color-background')}, 10%);
	  --color-background-darker: darken(#{map-get($colors, 'color-background')}, 10%);
	  --color-text: #{map-get($colors, 'color-text')};
	  --color-text-lighter: lighten(#{map-get($colors, 'color-text')}, 10%);
	  --color-text-darker: darken(#{map-get($colors, 'color-text')}, 10%);
	}
  }


body{
	background-color: var(--color-background);
	color: var(--color-text);
}

a{
	color: var(--color-primary);
	text-decoration: none;
}
a:hover{
	color: var(--color-primary-darker);
}

a:visited{
	color: var(--color-secondary);
}

a:active{
	color: var(--color-primary-lighter);
}