@use '../Maverick/Maverick' as *;

// Spacing

// Predefined Widths:
$widths: (
  '3xs': 2.5rem,  // 40px
  '2xs': 5rem,  // 80px
  'xs': 10rem,  // 160px
  'sm': 20rem,  // 320px
  'md': 30rem,  // 480px
  'lg': 48rem,  // 768px
  'xl': 64rem,  // 1024px
  '2xl': 80rem,  // 1280px
  '3xl': 96rem,  // 1536px
  '4xl': 128rem  // 2048px
);

$space: ();
@for $i from 1 through 9 {
  $space: append($space, $baseSize * pow($spaceScale, $i));
}

@for $i from 1 through 9 {
	:root {
		--size-#{$i}00: nth($space, $i);
	}
}

//Margin

@for $i from 1 through 9 {
	.margin-#{$i}00 {
	  margin-top: nth($space, $i);
	}
  
	.margin-#{$i}00-top {
	  margin-top: nth($space, $i);
	}

	.margin-#{$i}00-bottom {
	  margin-bottom: nth($space, $i);
	}

	.margin-#{$i}00-left {
	  margin-left: nth($space, $i);
  }

  	.margin-#{$i}00-right {
		margin-right: nth($space, $i);
		}
}


//Padding

@for $i from 1 through 9 {
	.padding-#{$i}00 {
	  padding: nth($space, $i);
	}
  
	.padding-#{$i}00-top {
	  padding-top: nth($space, $i);
	}

	.padding-#{$i}00-bottom {
	  padding-bottom: nth($space, $i);
	}

	.padding-#{$i}00-left {
	  padding-left: nth($space, $i);
  }

  	.padding-#{$i}00-right {
		padding-right: nth($space, $i);
		}
}

.padding-global {
	padding: $baseSize;
}

@for $i from 1 through 9 {
	.space-#{$i}00 {
	  margin-top: nth($space, $i);
	  display: block;
	}



// Generate the contianer width classes
@each $name, $size in $widths {
	.container-#{$name} {
	  max-width: $size;
	  margin: 0 auto;
	}
}
  .container-max {
	max-width: 100%;
	margin: 0 auto;
  }
}

