@use '../Globals/Settings' as s;



.button {
	display: inline-block;
	padding: s.$space-sm s.$space-md;
	border: s.$border;
	border-radius: s.$border-radius;
	background-color: var(--color-acc-500);
	color: var(--color-txt-100);
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
  
	&:hover,
	&:focus {
	  background-color: var(--color-acc-700);
	  cursor: pointer;
	}
  }