@use '../Globals/Settings' as s;


.card-01{
	border: 1px solid var(--color-txt-100);
	box-shadow: 0 0 20px var(--color-acc-500);
	border-radius: 5px;
	transition: all 0.3s ease;
	padding-top: s.$space-lg;
	padding-bottom: s.$space-lg;
}