@use '../Globals/Settings' as s;




.cluster{
	display: flex;
	flex-wrap: wrap;
	gap: s.$space-md;
}

.grid-auto {
	display: grid;
	gap: s.$space-md;
	grid-template-columns: 
		repeat(auto-fit, minmax( 20rem, 1fr));
}

.grid-flex{
	display: flex;
	flex-wrap: wrap;
	gap: s.$space-lg;
}

.grid-flex > *{
	flex: 1 1 20rem;
}


.grid-responsive  {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: s.$space-md;
	@media (max-width: s.$breakpoint-mob) {
	  grid-template-columns: 1fr;
	}
  }