
@use '../Globals/Settings' as s;

.container-tiny{
	  max-width: s.$max-tiny;
  margin: 0 auto;
}

.container-xs{
	  max-width: s.$max-xs;
  margin: 0 auto;
}

.container-sm{
	  max-width: s.$max-sm;
  margin: 0 auto;
}

.container-md{
	  max-width: s.$max-std;
  margin: 0 auto;
}

.container-lg{
	  max-width: s.$max-lg;
  margin: 0 auto;
}

.container-xl{
	  max-width: s.$max-xl;
  margin: 0 auto;
}

.container-xxl{
	  max-width: s.$max-xxl;
  margin: 0 auto;
}

.container-xxxl{
	  max-width: s.$max-xxxl;
  margin: 0 auto;
}

.container-100{
	  max-width: 100%;
  margin: 0 auto;
}