---
import Mainlayout from "../layouts/Main-layout.astro";
---

<Mainlayout title="Home">
  <div class="section-hero">
    <div class="padding-global">
      <div class="container-lrg">
        <div class="padding-section-md">
          <h1 class="h1 center glow">Maverick Css</h1>
          <div class="inline-space-lrg"></div>
          <p class="center container-md">
            This is a demo site for Maverick Css. Maverick Css is a modern css
            framework that is easy to use and customize. Unlike other css
            frameworks, Maverick Css is lightweight and intuitive, allowing for
            quick build times for simple projects. Maverick CSS was designed
            with beginners in mind, but is also powerful enough for advanced
            users. Maverick CSS is a great choice for anyone looking to build a
            website quickly and easily.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-information">
    <div class="padding-global">
      <div class="container-md">
        <div class="padding-section-lrg">
          <h2 class="h2 center">Features</h2>
          <div class="inline-space-sm"></div>
          <div class="grid-3">
            <div class="card">
              <h4 class="h4">Easy to use</h4>
              <p>
                Maverick CSS is designed to be easy to use and intuitive. It is
                perfect for beginners and advanced users alike.
              </p>
            </div>
            <div class="card">
              <h4 class="h4">Lightweight</h4>
              <p>
                Maverick CSS is lightweight and fast. It is perfect for simple
                projects and quick build times.
              </p>
            </div>
            <div class="card">
              <h4 class="h4">Custom</h4>
              <p>
                Maverick CSS is easy to customize. You can easily change the
                look and feel of your website to match your brand.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Mainlayout>
