---
import Mainlayout from "../layouts/Main-layout.astro";
---

<Mainlayout title="Home">
  <div class="section-hero">
    <div class="padding-global">
      <div class="container-md">
        <div class="padding-section-lrg">
          <h1 class="h1 center">Maverick Css</h1>
          <div class="inline-space-xxl"></div>
          <p class="center container-md">
            This is a demo site for Maverick Css. Maverick Css is a modern css
            framework that is easy to use and customize. Unlike other css
            frameworks, Maverick Css is lightweight and intuitive, allowing for
            quick build times for simple projects. Maverick CSS was designed
            with beginners in mind, but is also powerful enough for advanced
            users. Maverick CSS is a great choice for anyone looking to build a
            website quickly and easily.
          </p>
        </div>
      </div>
    </div>
  </div>
</Mainlayout>
