---
import Mainlayout from "../layouts/Main-layout.astro";
---

<Mainlayout title="Home">
  <div class="section-hero">
    <div class="padding-global">
      <div class="container-lrg">
<<<<<<< Updated upstream
        <div class="padding-section-xxl">
          <h1 class="h1 center glow-text">Maverick Css</h1>
=======
        <div class="padding-section-lrg">
          <h1 class="h1 center glow">Maverick Css</h1>
>>>>>>> Stashed changes
          <div class="inline-space-lrg"></div>
          <p class="center container-md">
            This is a demo site for Maverick Css. Maverick Css is a modern css
            framework that is easy to use and customize. Unlike other css
            frameworks, Maverick Css is lightweight and intuitive, allowing for
            quick build times for simple projects. Maverick CSS was designed
            with beginners in mind, but is also powerful enough for advanced
            users. Maverick CSS is a great choice for anyone looking to build a
            website quickly and easily.
          </p>
          <div class="inline-space-lrg"></div>
          <a id="button" href="#" class="margin-auto center no-txt-decor"
            >Get Started &#x2192</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="section-information">
    <div class="padding-global">
      <div class="container-xxl">
        <div class="padding-section-lrg">
          <h2 class="h2 center">Why Maverick?</h2>
          <div class="inline-space-lrg"></div>
          <div class="grid-flex">
            <div class="container-sm">
              <h4 class="h4">It's Easy To Use</h4>
              <p class="justify padding-right padding-md">
                Maverick CSS is minimal and easy to use. It generates easy to
                understand markup and is perfect for beginners. Just adjust some
                variables and get building!
              </p>
            </div>
            <div class="container-sm">
              <h4 class="h4">Lightweight</h4>
              <p class="justify padding-right padding-md">
                Maverick CSS is lightweight and fast. It is perfect for simple
                projects and quick build times.
              </p>
            </div>
            <div class="container-sm">
              <h4 class="h4">Customizable</h4>
              <p class="justify padding-right padding-md">
                Maverick CSS is designed to be customized stright out of the
                box. Build your own themes or custom classes
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Mainlayout>

<style>
<<<<<<< Updated upstream
  #button {
    padding: 10px 20px;
    color: var(--color-txt-100);
    border-radius: 5px;
    border: 2px solid var(--primary);
    display: block;
    margin: auto;
=======
  .grid-3 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
 
  .card {
    /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(, 1fr);
    /* this is the same as grid-template-rows: 300px 300px; */
    grid-template-rows: repeat(2, 300px);
>>>>>>> Stashed changes
  }
</style>
