---
import Mainlayout from "../layouts/Main-layout.astro";
---

<Mainlayout title="Home">
  <div class="section-hero">
    <div class="padding-global">
      <div class="container-lrg">
        <div class="padding-section-lrg">
          <h1 class="h1 center glow-text">Maverick Css</h1>
          <div class="inline-space-lrg"></div>
          <p class="center container-md">
            This is a demo site for Maverick Css. Maverick Css is a modern css
            framework that is easy to use and customize. Unlike other css
            frameworks, Maverick Css is lightweight and intuitive, allowing for
            quick build times for simple projects. Maverick CSS was designed
            with beginners in mind, but is also powerful enough for advanced
            users. Maverick CSS is a great choice for anyone looking to build a
            website quickly and easily.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-information">
    <div class="padding-global">
      <div class="container-xxl">
        <div class="padding-section-lrg">
          <h2 class="h2 center">Features</h2>
          <div class="inline-space-sm"></div>
          <div class="grid-3">
            <div class="card margin-lrg">
              <h4 class="h4 center">Easy to use</h4>
              <p class="center container-xs">
                Maverick CSS is designed to be easy to use and intuitive. It is
                perfect for beginners and advanced users alike.
              </p>
            </div>
            <div class="card margin-lrg">
              <h4 class="h4 center">Lightweight</h4>
              <p class="center container-xs">
                Maverick CSS is lightweight and fast. It is perfect for simple
                projects and quick build times.
              </p>
            </div>
            <div class="card margin-lrg">
              <h4 class="h4 center">Custom</h4>
              <p class="glow-text center container-xs">
                Maverick CSS is easy to customize. You can easily change the
                look and feel of your website to match your brand.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-information">
      <div class="padding-global">
        <div class="container-md">
          <div class="padding-section-lrg">
            <h2 class="h2">Technology</h2>
            <div class="inline-space-sm"></div>
            <div class="grid-3">
              <div class="card"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Mainlayout>

<style>
  .grid-3 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .card {
    /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(, 1fr);
    /* this is the same as grid-template-rows: 300px 300px; */
    grid-template-rows: repeat(2, 300px);
  }
</style>
