

.text-style-normal {
	font-style: normal;
}

.text-style-italic {
	font-style: italic;
}

.text-style-oblique {
	font-style: oblique;
}

.text-style-link {
	text-decoration: underline;
}

.text-style-caps {
	text-transform: uppercase;
}

.text-style-lower {
	text-transform: lowercase;
}

.text-style-nowrap {
	white-space: nowrap;
}

.text-style-quote {
	quotes: initial;
}

.text-style-strike {
	text-decoration: line-through;
}

.text-style-underline {
	text-decoration: underline;
}




