
.text-normal {
	font-weight: 400;
}

.text-semibold {
	font-weight: 600;
}

.text-bold {
	font-weight: 800;
}

.text-xbold {
	font-weight: 900;
}

.text-light {
	font-weight: 300;
}

.text-thin {
	font-weight: 200;
}

.text-light {
	font-weight: 100;
}

