---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div class="footer">
  <div>
    Copyright 2024 - <a href="https://www.justinmilner.com">Justin Milner</a>
  </div>

  <div>
    <ThemeSwitcher />
  </div>
</div>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
</style>
