---
import Astro from "astro";
---

<div class="container__nav-global">
  <div class="nav_logo">
    <h1 class="nav__logo-text">Maverick.css</h1>
  </div>

  <div class="nav__menu">
    <ul class="nav__menu-list">
      <li class="nav__menu-item">
        <a class="nav__menu-item" href="#">Home</a>
      </li>
      <li class="nav__menu-item">
        <a class="nav__menu-item" href="#">Home</a>
      </li>
      <li class="nav__menu-item">
        <a class="nav__menu-item" href="#">Home</a>
      </li>
    </ul>
  </div>
</div>
