

/* This partial will build column classes for grid layouts */

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.five-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}


//grid Containers

.grid-container {
  display: grid;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}





