* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }


//Fundemental layout styles

//Basic Display Properties

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-none {
  display: none;
}

//Margin Properties

.margin-auto {
  margin: 0 auto;
}

.margin-none {
  margin: 0;
}


//possition properties

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

//IMAGE FLOAT

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.clear-none {
  clear: none;
}

.clear-fix {
	overflow: auto;
}
  

