
.padding-top{
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.padding-bottom{
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.padding-left{
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

.padding-right{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.padding-horizontal{
	padding-top: 0;
	padding-bottom: 0;
}

.padding-vertical{
	padding-left: 0;
	padding-right: 0;
}