@use '../Globals/Settings' as s;

.padding-xxl{
   padding: s.$space-xxl;
}

.padding-xl{
   padding: s.$space-xl;
}

.padding-lrg{
   padding: s.$space-lg;
}

.padding-md{
   padding: s.$space-md;
}

.padding-sm{
   padding: s.$space-sm;
}

.padding-tiny{
   padding: s.$space-tiny;
}

.padding-none{
   padding: 0;
}