
/*

    __  ______ _    ____________  ____________ __    ________________
   /  |/  /   | |  / / ____/ __ \/  _/ ____/ //_/   / ____/ ___/ ___/
  / /|_/ / /| | | / / __/ / /_/ // // /   / ,<     / /    \__ \\__ \ 
 / /  / / ___ | |/ / /___/ _, __/ // /___/ /| |   / /___ ___/ ___/ / 
/_/  /_/_/  |_|___/_____/_/ |_/___/\____/_/ |_|   \____//____/____/  
                                                                     

*/

/****** SETTINGS ******/

//This is where we will set up our variables for the project. This will include things like colors, fonts, and spacing. We will also set up our breakpoints and type scale here.


//Import our fonts here:

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Bring our fonts into the system and set the standard weights:

$font-heading: 'Barlow', 'Arial' , sans-serif;
$font-heading-weight: 600;
$font-heading-transform: uppercase;
$font-body: 'Montserrat', 'Arial', sans-serif;
$font-body-weight: 400;
$root-font-size: 16px;

//Adjust our standard line-height for headings. Body line-height should be at least 1.5 for accessibility.

$line-height-body: 1.5;
$line-height-heading: 1;


//Setup our breakpoints. These will be used to set the max-width of our content and to set the type scale at different screen sizes.

$breakpoint-mob: 600px;
$breakpoint-tab: 900px;
$breakpoint-def: 1200px;

//Global Padding

$global-padding: 1rem;

//max-width variables. These will be used to set the max-width of our content at different screen sizes. Remember: these will change if you change the root font-size!

$max-tiny: 10rem; //160px
$max-xs: 20rem; //320px
$max-sm: 40rem; //640px
$max-std: 50rem; //800px
$max-lg: 60rem; //960px
$max-xl: 70rem; //1120px
$max-xxl: 80rem; //1280px
$max-xxxl: 90rem; //1440px

//Fundemental Frequencies found in nature, music, and design.

$minorSecond: 1.067;
$majorSecond: 1.125;  
$minorThird: 1.2;
$majorThird: 1.25;
$perfectFourth: 1.333;
$tritone: 1.414;
$perfectFifth: 1.5;
$minorSixth: 1.6;
$goldenRatio: 1.618;
$majorSixth: 1.667;
$minorSeventh: 1.75;
$majorSeventh: 1.875;
$octave: 2;

//set the primary typescale for font sizing at each screen size:


$typeScaleDesktop: $perfectFifth;
$typeScaleTablet: $tritone;
$typeScaleMobile: $majorThird;

//set the primary scale for spacing [default is $typeScaleDesktop]

$spaceScale: $typeScaleDesktop;



/****** Magic Automatic Calculation of Text Sizes no action needed ******/

//size variables @ Large Desktop

$p-desk-reg: $root-font-size; //.875rem for 14px at 16px base
$p-desk-sm: calc($p-desk-reg / $typeScaleDesktop);
$p-desk-tiny: calc($p-desk-sm / $typeScaleDesktop);
$p-desk-lrg: calc($p-desk-reg * $typeScaleDesktop);
$p-desk-xl: calc($p-desk-lrg * $typeScaleDesktop);
$p-desk-xxl: calc($p-desk-xl * $typeScaleDesktop);

$h5-desk: calc($p-desk-reg * $typeScaleDesktop);
$h4-desk: calc($h5-desk * $typeScaleDesktop);
$h3-desk: calc($h4-desk * $typeScaleDesktop);
$h2-desk: calc($h3-desk * $typeScaleDesktop);
$h1-desk: calc($h2-desk * $typeScaleDesktop);

//size variables for Tablet (768px)

$p-tab-reg: $root-font-size; //.875rem for 14px at 16px base
$p-tab-sm: calc($p-tab-reg / $typeScaleTablet);
$p-tab-tiny: calc($p-tab-sm / $typeScaleTablet);
$p-tab-lrg: calc($p-tab-reg * $typeScaleTablet);
$p-tab-xl: calc($p-tab-lrg * $typeScaleTablet);
$p-tab-xxl: calc($p-tab-xl * $typeScaleTablet);

$h5-tab: calc($p-tab-reg * $typeScaleTablet);
$h4-tab: calc($h5-tab * $typeScaleTablet);
$h3-tab: calc($h4-tab * $typeScaleTablet);
$h2-tab: calc($h3-tab * $typeScaleTablet);
$h1-tab: calc($h2-tab * $typeScaleTablet);


//Text size variables for Mobile (375px)

$p-mob-reg: $root-font-size; //.875rem for 14px at 16px base
$p-mob-sm: calc($p-mob-reg / $typeScaleMobile);
$p-mob-tiny: calc($p-mob-sm / $typeScaleMobile);
$p-mob-lrg: calc($p-mob-reg * $typeScaleMobile);
$p-mob-xl: calc($p-mob-lrg * $typeScaleMobile);
$p-mob-xxl: calc($p-mob-xl * $typeScaleMobile);

$h5-mob: calc($p-mob-reg * $typeScaleMobile);
$h4-mob: calc($h5-mob * $typeScaleMobile);
$h3-mob: calc($h4-mob * $typeScaleMobile);
$h2-mob: calc($h3-mob * $typeScaleMobile);
$h1-mob: calc($h2-mob * $typeScaleMobile);


//Vertical spacing variables

$space-reg: $root-font-size;
$space-sm: calc($space-reg / $spaceScale);
$space-tiny: calc($space-sm / $spaceScale);
$space-lg: calc($space-reg * $spaceScale);
$space-xl: calc($space-lg * $spaceScale);
$space-xxl: calc($space-xl * $spaceScale);






/**********Colors***********/

/* These are the default colors for the system. Please change them, but make sure to reference ./Colors/_Themes.scss to make the appropriate revisions  */



//Neutral Palette
	
$outerspace-100: hsl(210, 10%, 96%);
$outerspace-200: hsl(210, 10%, 84%);
$outerspace-300: hsl(208, 10%, 72%);
$outerspace-400: hsl(210, 10%, 60%);
$outerspace-500: hsl(211, 10%, 48%);
$outerspace-600: hsl(213, 10%, 36%);
$outerspace-700: hsl(210, 10%, 24%);
$outerspace-800: hsl(210, 10%, 12%);
$outerspace-900: hsl(225, 13%, 6%);

//Alternate Palette

$cadet-100: hsl(180, 14%, 96%);
$cadet-200: hsl(180, 15%, 84%);
$cadet-300: hsl(182, 21%, 73%);
$cadet-400: hsl(180, 15%, 72%);
$cadet-500: hsl(180, 15%, 60%);
$cadet-600: hsl(180, 15%, 48%);
$cadet-700: hsl(182, 16%, 37%);
$cadet-800: hsl(182, 22%, 26%);
$cadet-900: hsl(180, 15%, 12%);

//Primary Color 
$bluey-100: hsl(193, 90%, 96%);
$bluey-200: hsl(193, 90%, 84%);
$bluey-300: hsl(193, 90%, 72%);
$bluey-400: hsl(193, 90%, 60%);
$bluey-500: hsl(193, 90%, 48%); //Primary
$bluey-600: hsl(193, 90%, 36%);
$bluey-700: hsl(193, 90%, 24%);
$bluey-800: hsl(193, 90%, 12%);
$bluey-900: hsl(193, 90%, 4%);

//Accent Palette
$cosmic-100: hsl(280, 90%, 96%);
$cosmic-200: hsl(280, 90%, 84%);
$cosmic-300: hsl(280, 90%, 72%);
$cosmic-400: hsl(280, 90%, 60%);
$cosmic-500: hsl(280, 90%, 48%);
$cosmic-600: hsl(280, 90%, 36%); //Primary Accent
$cosmic-700: hsl(280, 90%, 24%);
$cosmic-800: hsl(280, 90%, 12%);
$cosmic-900: hsl(280, 90%, 4%);


$alert: hsl(338, 62%, 48%);
$warning: hsl(39, 100%, 50%);
$success: hsl(120, 100%, 25%);
$info: hsl(240, 100%, 50%);
$error: hsl(0, 100%, 50%);
$white: hsl(210, 10%, 96%);
$black: hsl(225, 13%, 6%);


//