@use './Maverick' as *;


@mixin colorTheme($theme) {
    $color__background: map-get($theme, 'color__background');
    $color__text: map-get($theme, 'color__text');

    --color__background: #{$color__background};
    --color__text: #{$color__text};
}

:root {
    @include colorTheme($list__colorTheme-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        @include colorTheme($list__colorTheme-dark);
    }
}

body {
    background-color: var(--color__background);
    color: var(--color__text)
}

a {
    color: var(--color__text);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: var(--color__text);
    }

    &:active {
        color: var(--color__text);
    }



}