@use '../Globals/Settings' as s;

@mixin tablet {
	@media screen and (max-width: s.$breakpoint-tab) {
	  @content;
	}
  }
  
  @mixin mobile {
	@media screen and (max-width: s.$breakpoint-mob) {
	  @content;
	}
  }

//this module is for setting the font-family and font-weight for the entire project. Add as many font-weights as you need for your project.

body{
	font-family: s.$font-body;
	font-weight: s.$font-body-weight;
	line-height: s.$line-height-body;
	font-size: s.$root-font-size;
}



h1, h2, h3, h4, h5, h6{
	font-family: s.$font-heading;
	font-weight: s.$font-heading-weight;
	line-height: s.$line-height-heading;
	text-transform: s.$font-heading-transform;
	padding-top: s.$heading-margin-top;
	padding-bottom: s.$heading-margin-btm;
}
h1 {
	font-size: s.$h1-desk;
	@include tablet {
	  font-size: s.$h1-tab;
	}
  
	@include mobile {
	  font-size: s.$h1-mob;
	}
  }
  
  h2 {
	font-size: s.$h2-desk;
	@include tablet {
	  font-size: s.$h2-tab;
	}
  
	@include mobile {
	  font-size: s.$h2-mob;
	}
  }

  h3 {
	font-size: s.$h3-desk;
	@include tablet {
	  font-size: s.$h3-tab;
	}

	@include mobile {
	  font-size: s.$h3-mob;
	}
  }

  h4 {
	font-size: s.$h4-desk;
	@include tablet {
	  font-size: s.$h4-tab;
	}

	@include mobile {
	  font-size: s.$h4-mob;
	}
  }

  h5 {
	font-size: s.$h5-desk;
	@include tablet {
	  font-size: s.$h5-tab;
	}

	@include mobile {
	  font-size: s.$h5-mob;
	}
  }

  p {
	font-size: s.$p-desk-reg;
	@include tablet {
	  font-size: s.$p-tab-reg;
	}

	@include mobile {
	  font-size: s.$p-mob-reg;
	}
  }
  


  .h1 {
	font-size: s.$h1-desk;
	@include tablet {
	  font-size: s.$h1-tab;
	}
  
	@include mobile {
	  font-size: s.$h1-mob;
	}
  }
  
  .h2 {
	font-size: s.$h2-desk;
	@include tablet {
	  font-size: s.$h2-tab;
	}
  
	@include mobile {
	  font-size: s.$h2-mob;
	}
  }

  .h3 {
	font-size: s.$h3-desk;
	@include tablet {
	  font-size: s.$h3-tab;
	}

	@include mobile {
	  font-size: s.$h3-mob;
	}
  }

  .h4 {
	font-size: s.$h4-desk;
	@include tablet {
	  font-size: s.$h4-tab;
	}

	@include mobile {
	  font-size: s.$h4-mob;
	}
  }

  .h5 {
	font-size: s.$h5-desk;
	@include tablet {
	  font-size: s.$h5-tab;
	}

	@include mobile {
	  font-size: s.$h5-mob;
	}
  }

  .p {
	font-size: s.$p-desk-reg;
	@include tablet {
	  font-size: s.$p-tab-reg;
	}

	@include mobile {
	  font-size: s.$p-mob-reg;
	}
  }